html, body {
    height: 100%;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.cover-container {
    background: url('https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    color: white;
}


.about {
    background-color: rgba(0,0,0,.4);
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 600px;
    padding-top: 40px;
}

.inner img {
    height: 300px;
    margin-top:20px;
    box-shadow: 0 0 5px 4px gray;
    padding: 4px;
    border-radius: 10px;
    filter: grayscale(1);
    transition: filter .4s;

}
.inner img:hover {
    cursor: pointer;
    filter: grayscale(0);
}

.content {
    text-align: justify;
    line-height: 3;
    font-size: 1.2em;
    margin-right:10px;
    font-weight: bold;

}


#contact-form {
    width: 40%;
    margin: auto;
    background: rgba(0,0,0,.4);
    border-radius: 20px;
}

.list-group-item:hover {
    cursor:pointer;
    background: #b8daff;
    color: #004085;
}

.form-group {
    margin:20px;
}
