{% extends "layout.html" %}

{% block title %}Buy{% endblock %}

{% block main %}
    <div style="text-align: center;">
        <form action="/buy" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus style="padding: 8px; border: 1px solid #ccc; border-radius: 5px;" id="symbol" name="symbol" placeholder="Enter Symbol" type="text">
            </div>
            <div class="mb-3">
                <input style="padding: 8px; border: 1px solid #ccc; border-radius: 5px;" id="shares" name="shares" placeholder="Enter Shares" type="number" min="1">
            </div>
            <div>
                <button style="padding: 8px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;" type="submit">Buy</button>
            </div>
        </form>
    </div>
{% endblock %}
